color = #f26b11
*
    margin 0
    padding 0
a
    text-decoration none
    color #000
li
    list-style none
body
    font-size 0.16rem
body,html,#app
    width 100%
    height 100%
    overflow hidden
img 
   display block
input 
   outline none
   border none
h1,h2,h3,h4,h5,h6
   font-weight normal
i,em
   font-style normal
   